/* Выделение текста ==маркером== */
.cm-highlight, mark {
    color: #f5f5f5 !important;
    text-shadow: 1px 1px 2px black;
    background-color: #D68631 !important;
}

/* Жирный шрифт */
.cm-strong, strong {
    color: #56a8f5 !important;
}

/* Стили для inline-кода, но не внутри callout и блоков кода */
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting),
.markdown-rendered code:not(pre code) {
    color: #ffffff !important;
    text-shadow: 1px 1px 2px black;
    background-color: #cca8f5 !important;
    border-radius: 10px;
    padding: 2px 6px;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
}

/* Заголовки */
.cm-header-1, h1 {
    color: #e7817e !important;
}

.cm-header-2, h2 {
    color: #e69875 !important;
}

.cm-header-3, h3 {
    color: #dbe87d !important;
}

.cm-header-4, h4 {
    color: #98e97c !important;
}

.cm-header-5, h5 {
    color: #7ce9b8 !important;
}