.callout {
    border: 5px solid #affcae;
    border-radius: 8px;
    background-color: var(--background-secondary);
}

.callout-title {
    color: #affcae !important; /* Оранжевый цвет */
}

/* Выделение текста ==маркером== */
.cm-highlight, mark {
    color: #2b3b30 !important;
    font-weight: 700 !important;
    background-color: #ffe4c4 !important;
}


/* Жирный шрифт */
.cm-strong, strong {
    color: #5c98ff !important;
    text-shadow: 1px 0px 0px #062108;
    font-weight: 650 !important;
}

/* Курсивный шрифт */
em,
i,
.cm-em,
.markdown-rendered em {
    color: #c4e7ff !important;
}

/* Стили для inline-кода, но не внутри callout и блоков кода */
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting),
.markdown-rendered code:not(pre code) {
    color: #c0ebff !important;
    text-shadow: 1px 1px 2px black;
    background-color: #2e3e47 !important;
    border-radius: 10px;
    padding: 2px 6px;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
}

/* Заголовки */
.cm-header-1, h1 {
    color: #f04a53 !important;
}

.cm-header-2, h2 {
    color: #ff9142 !important;
}

.cm-header-3, h3 {
    color: #c2d66f !important;
}

.cm-header-4, h4 {
    color: #87e1ed  !important;
}

.cm-header-5, h5 {
    color: #b296ff !important;
}