
/* Общие стили для всех callout-блоков */
.callout[data-callout="note"] {
    border-radius: 16px !important;
    border-left-width: 12px !important;
    margin: 16px 0 !important;

    background-color: #ffdad9 !important;  /* Светло-золотой фон */
    border-color: #e7817e !important;      /* Золотая граница */
    color: #261b17 !important;             /* Темно-коричневый текст *

}

.callout-title[data-callout="note"] {
    color: #e7817e !important;             /* Текст заголовка */
}


/* Цвет рабочей области */
.workspace-leaf-content[data-type="markdown"] .view-content {
    background-color: #1e1f22 !important;
}

/* Выделение текста ==маркером== */
.cm-highlight, mark {
    color: #f5f5f5 !important;
    text-shadow: 1px 1px 1px black;
    background-color: #f6a483 !important;
}


/* Жирный шрифт */
.cm-strong, strong {
    color: #56a8f5 !important;
}

/* Стили для inline-кода, но не внутри callout и блоков кода */
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting),
.markdown-rendered code:not(pre code) {
    color: #ffffff !important;
    text-shadow: 1px 1px 2px black;
    background-color: #c18ed4 !important;
    border-radius: 10px;
    padding: 2px 6px;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
}

/* Заголовки */
.cm-header-1, h1 {
    color: #e7817e !important;
}

.cm-header-2, h2 {
    color: #e69875 !important;
}

.cm-header-3, h3 {
    color: #dbe87d !important;
}

.cm-header-4, h4 {
    color: #98e97c !important;
}

.cm-header-5, h5 {
    color: #7ce9b8 !important;
}