/* Цвет рабочей области */
.workspace-leaf-content[data-type="markdown"] .view-content {
    background-color: #1e1f22 !important;
}


/* Общие стили для всех callout-блоков */
.callout[data-callout="note"] {
    border-radius: 16px !important;
    border-left-width: 12px !important;
    margin: 16px 0 !important;

    background-color: #dbdbd3 !important;  
    border-color: #5e6063!important;      
    color: #1b2a32 !important;  
    font-weight: 700 !important;           

}
.callout-title[data-callout="note"] {
    color: #1b2a32 !important;            
}


/* Выделение текста ==маркером== */
.cm-highlight, mark {
    color: #1b2a32 !important;
    font-weight: 700 !important;
    background-color: #ff8661 !important;
}


/* Жирный шрифт */
.cm-strong, strong {
    color: #bdd4d9 !important;
    text-shadow: 1px 1px 2px black;
    font-weight: 650 !important;
}



/* Стили для inline-кода, но не внутри callout и блоков кода */
.cm-s-obsidian span.cm-inline-code:not(.cm-formatting),
.markdown-rendered code:not(pre code) {
    color: #ffffff !important;
    text-shadow: 1px 1px 2px black;
    background-color: #c18ed4 !important;
    border-radius: 10px;
    padding: 2px 6px;
    font-family: 'JetBrains Mono', 'Fira Code', monospace;
}

/* Заголовки */
.cm-header-1, h1 {
    color: #ff5d65 !important;
}

.cm-header-2, h2 {
    color: #f28c54 !important;
}

.cm-header-3, h3 {
    color: #f0c360 !important;
}

.cm-header-4, h4 {
    color: #9de07e !important;
}

.cm-header-5, h5 {
    color: #7ee0bc !important;
}